{{>partials/header}}
<fieldset>
    <legend>
    <form method="POST" action="/novo-usuario">
        <input type="text" name="firstName" placeholder="Digite seu nome" /><br/>
        <input type="text" name="lastName" placeholder="Digite seu sobrenome" /><br/>
        <input type="email" name="email" placeholder="Digite seu email" /><br/>
        <input type="text" name="age" placeholder="Digite sua idade" /><br/>
        <input type="text" name="interests" placeholder="Digite interesses (separado por vírgula)" /><br/>
        <input type="submit" value="inserir" />
    </form>
    </legend>
</fieldset>
<h2>Usuários</h2>
<ul>
    {{#users}}
        <li> {{name.firstName}} - {{age}} anos - <a href="/usuario/{{_id}}/addidade">+1<a> </li>
    {{/users}}
</ul>

{{>partials/footer}}